  .message-header {
    font-size: 40px!important;
    font-weight: bold!important;
    margin-bottom: 20px!important;
    text-align: center!important;
  }
  
  .message-form-group {
    margin-bottom: 20px!important;
  }
  
  .table {
    font-size: 14px!important;
    width: 100%!important;
    max-width: 100%!important;
    white-space: nowrap!important;
    background-color: #F5F5F5!important;
    color: #333333!important;
    
  }
  
 .table th {
  background-color: #3c8dbc!important;
  color: #ffffff!important;
  font-weight: bold!important;
  text-align: center!important; /* Center align the text */
  width: 10%; /* Decrease the width */
  border: 1px solid #ffffff!important;
}

.table td {
  text-align: center!important;
  padding: 12px!important;
  border: 1px solid #cfcfcf!important;
  width: 10%; /* Decrease the width */
}

  .table tr:nth-child(even) {
    background-color: #EFEFEF!important;
    text-align: center!important;
  }
  
  .table tr:nth-child(odd) {
    background-color: #F5F5F5!important;
    text-align: center!important;
  }
  
  .table tr:hover {
    background-color: #D9EDF7!important;
    color: #333333!important;
  }
  
  .table td:last-child {
    width: 200px!important;
  }

  /* Style alternating table rows */
  .table tr:nth-child(even) td {
    background-color: #EFEFEF!important;
  }
  
  .table tr:nth-child(odd) td {
    background-color: #F5F5F5!important;
  }
  
  /* Style the message body column to be wider */
  .table td:nth-child(7) {
    width: 35%!important;
  }

  .table th:nth-child(7) {
    width: 35%!important;
  }
  
  .dashboard-top-message{
    display: flex!important;
    justify-content: space-around!important;
    align-items: center!important;
    margin-bottom: 60px!important;
    color: #000000;
  }
